*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	color: #5234bc;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

p:first-child {
	margin-top: 0;
}
p:first-child {
	margin-bottom: 0;
}

.btn {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	font-size: 16px;
	line-height: 1;
	padding: 11px 10px 13px;
	text-align: center;
	border-radius: 30px;
	background: radial-gradient(213.64% 946.21% at 11.82% -50.91%, #ffec44 0%, #ffb444 100%);
	box-shadow: 0px 17px 32px rgba(255, 236, 68, 0.35);
	font-weight: bold;
	transition: 0.12s;
	color: #000;
	position: relative;
	z-index: 1;
	border: none;
	cursor: pointer;
	margin: 0;

	&.btn-secondary {
		background: radial-gradient(213.64% 946.21% at 11.82% -50.91%, #ff154d 0%, #ff614b 100%);
		box-shadow: 0px 17px 32px rgba(255, 21, 77, 0.32);
		color: #fff;

		&:before {
			background: radial-gradient(213.64% 946.21% at 11.82% -50.91%, #ffec44 0%, #ffb444 100%);
		}

		&:hover {
			box-shadow: none;
			color: #000;
		}
	}

	&.btn-big {
		font-size: 20px;
		padding-top: 17px;
		padding-bottom: 18px;
	}

	@include bp(xxl) {
		font-size: 20px;
		padding-top: 17px;
		padding-bottom: 18px;
	}

	&:before {
		z-index: -1;
		position: absolute;
		content: "";
		left: 51%;
		top: 51%;
		width: 0;
		height: 0;
		opacity: 0;
		transition: 0.12s;
		background: radial-gradient(213.64% 946.21% at 11.82% -50.91%, #ff154d 0%, #ff614b 100%);
		border-radius: 30px;
	}

	&:hover {
		box-shadow: none;
		color: #fff;

		&:before {
			opacity: 1;
			left: -1px;
			top: -1px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
		}
	}
}

.wedoit-main {
	margin: -65px 20px 67px;
	position: relative;

	& > .container {
		position: relative;
	}

	@include bp(xxl) {
		margin: -27px auto 97px;
	}
}

.wedoit-overflowhidden {
	overflow: hidden !important;
}
