.wedoit-footer {
	background: #f7f7f7;
	padding: 53px 30px 35px;
	@include bp(xxl) {
		background: #f7f7f7
			url("data:image/svg+xml,%3Csvg width='688' height='438' viewBox='0 0 688 438' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M198.746 213.547L149.445 102.158L102.3 213.547H96.7539L0 4.30786H48.9932L99.219 121.543L144.823 0H151.602L202.444 121.543L253.594 4.30786H299.814L205.217 213.547H198.746Z' fill='%23333333' fill-opacity='0.03'/%3E%3Cpath d='M401.411 163.391L429.452 184.622C412.812 203.29 390.627 212.624 362.895 212.624C338.86 212.624 319.551 205.444 304.966 191.084C290.381 176.52 283.088 157.955 283.088 135.39C283.088 114.876 290.483 96.7216 305.274 80.9262C320.064 65.3358 338.758 57.5407 361.354 57.5407C374.296 57.5407 385.799 59.8997 395.865 64.6178C405.931 69.336 413.737 75.5926 419.283 83.3878C424.83 91.183 428.938 99.3884 431.608 108.004C434.484 116.62 435.922 125.338 435.922 134.159C435.922 139.903 435.614 145.236 434.998 150.16H325.919C328.384 158.57 333.211 165.237 340.401 170.16C347.591 174.878 356.116 177.238 365.976 177.238C380.561 177.238 392.373 172.622 401.411 163.391ZM324.994 119.389H391.551C390.524 111.594 387.237 105.235 381.691 100.312C376.144 95.3882 369.263 92.9266 361.046 92.9266C351.802 92.9266 343.79 95.3882 337.012 100.312C330.438 105.235 326.432 111.594 324.994 119.389Z' fill='%23333333' fill-opacity='0.03'/%3E%3Cpath d='M92.5511 464.615H30V259.684H91.6267C127.37 259.684 155 269.121 174.515 287.993C194.03 306.866 203.787 331.585 203.787 362.15C203.787 393.741 194.235 418.767 175.131 437.23C156.232 455.487 128.705 464.615 92.5511 464.615ZM93.4755 299.686H73.755V424.614H92.243C136.203 424.614 158.184 403.895 158.184 362.458C158.184 345.431 153.048 330.661 142.777 318.148C132.506 305.84 116.072 299.686 93.4755 299.686Z' fill='%23333333' fill-opacity='0.03'/%3E%3Cpath d='M226.113 390.459C226.113 370.15 233.61 352.201 248.606 336.61C263.808 320.815 283.939 312.917 309.001 312.917C334.062 312.917 354.091 320.405 369.087 335.38C384.493 350.56 392.094 368.919 391.888 390.459C391.478 411.588 383.672 429.845 368.47 445.23C353.269 460.41 333.446 468 309.001 468C284.761 468 264.835 460.718 249.223 446.153C233.816 431.383 226.113 412.818 226.113 390.459ZM268.635 390.459C268.635 402.151 272.333 411.793 279.728 419.383C287.534 427.178 297.291 431.076 309.001 431.076C321.12 431.076 330.878 427.178 338.273 419.383C345.668 411.588 349.366 401.946 349.366 390.459C349.366 380.202 345.874 370.971 338.889 362.765C331.7 354.149 321.737 349.842 309.001 349.842C297.497 349.842 287.945 353.637 280.344 361.227C272.538 368.612 268.635 378.356 268.635 390.459Z' fill='%23333333' fill-opacity='0.03'/%3E%3Cpath d='M532.378 464.615H491.704V316.302H532.378V464.615ZM532.378 250.146V290.762H491.704V250.146H532.378Z' fill='%23333333' fill-opacity='0.03'/%3E%3Cpath d='M643.321 464.615H599.566V299.686H554.886V259.684H688V299.686H643.321V464.615Z' fill='%23333333' fill-opacity='0.03'/%3E%3C/svg%3E%0A")
			right 5px top 50% / auto 110% no-repeat;
		padding: 110px 0 21px;
	}

	& > .container {
	}

	&__top {
		margin-bottom: 36px;
		display: flex;
		justify-content: center;

		@include bp(xl) {
			margin-bottom: 74px;
		}

		@include bp(xxl) {
			justify-content: flex-start;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include bp(xl) {
			width: 340px;
			text-align: left;
			align-items: flex-start;
		}

		.btn {
			min-width: 240px;

			@include bp(xxl) {
				min-width: 282px;
			}
		}
	}

	&__menu {
		display: none;
		margin: 0 56px 0 0;
		padding: 0;
		list-style: none;
		width: 260px;

		@include bp(xl) {
			display: block;
		}

		& > li {
			& + li {
				margin-top: 35px;
			}

			& > a {
				display: block;
				text-decoration: none;
				color: #333;
				font-weight: 700;
				transition: 0.2s;
			}

			&:hover > a {
				text-decoration: underline;
				color: #ff154d;
			}
		}
	}

	&__phone {
		color: #333;
		text-decoration: none;
		font-size: 30px;
		line-height: 1;
		margin-bottom: 21px;

		@include bp(sm) {
			font-size: 40px;
		}
	}

	&__email {
		margin-bottom: 57px;
		font-size: 30px;
		line-height: 1;
		color: #5234bc;

		@include bp(sm) {
			font-size: 40px;
		}
	}

	&__bottom {
		text-align: center;

		@include bp(xxl) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__copy {
		font-size: 12px;
		line-height: 20px;
		color: #000;
		margin-bottom: 7px;
	}

	&__text {
		font-size: 12px;
		line-height: 20px;
		color: #000;
	}
}
