.wedoit-header {
	background: linear-gradient(180deg, rgba(88, 51, 187, 0.93) 36.22%, rgba(197, 0, 238, 0.93) 100%);
	min-height: 400px;
	position: relative;
	padding: 106px 0 107px;
	@include bp(xxl) {
		background: url(../images/dist/header_bg1.png) 50% 0 no-repeat;
		min-height: 970px;
		padding: 0;
		display: flex;
	}

	&__popup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #2e2730;
		z-index: 1000;
		transform: translateX(-100%);
		transition: 0.25s;

		&.active {
			transform: translateX(0);
		}

		&-scroller {
			padding: 75px 20px 50px;
			max-height: 100%;
			overflow: auto;
			position: relative;
		}

		&-close {
			width: 22px;
			height: 22px;
			position: absolute;
			right: 18px;
			top: 15px;
			background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8297 0.284433C20.2089 -0.0948002 20.8238 -0.0948001 21.203 0.284434C21.5823 0.663667 21.5823 1.27853 21.203 1.65776L1.65775 21.2031C1.27852 21.5823 0.663659 21.5823 0.284425 21.2031C-0.0948083 20.8238 -0.0948085 20.209 0.284425 19.8297L19.8297 0.284433Z' fill='white'/%3E%3Cpath d='M21.6387 20.0205C22.0179 20.3997 22.0179 21.0146 21.6387 21.3938C21.2594 21.773 20.6446 21.773 20.2653 21.3938L0.529291 1.65775C0.150058 1.27852 0.150058 0.663659 0.529292 0.284425C0.908525 -0.0948083 1.52338 -0.0948085 1.90262 0.284425L21.6387 20.0205Z' fill='white'/%3E%3C/svg%3E%0A")
				50% 50% no-repeat;
		}

		&-menu {
			margin: 0;
			padding: 0;
			list-style: none;

			& > li {
				& > a {
					display: inline-block;
					vertical-align: top;
					font-size: 20px;
					line-height: 1;
					margin-bottom: 38px;
					color: #fff;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&-contacts {
			margin-bottom: 25px;
		}

		&-phone {
			display: inline-block;
			vertical-align: top;
			font-size: 24px;
			line-height: 1;
			margin-bottom: 3px;
			color: #fff;
			text-decoration: none;
		}

		&-address {
			font-size: 10px;
			line-height: 1;
			color: #ffffff60;
		}

		&-mail {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			line-height: 1;
			padding: 0 0 1px 20px;
			color: #fff;
			background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.59504 8.76853C6.72727 8.85117 6.87603 8.88423 7.00826 8.88423C7.1405 8.88423 7.28926 8.85117 7.42149 8.76853L14 4.752V10.0908C14 11.2313 13.0744 12.157 11.9339 12.157H2.06612C0.92562 12.157 9.53674e-07 11.2313 9.53674e-07 10.0908V4.752L6.59504 8.76853Z' fill='white'/%3E%3Cpath d='M2.06607 1.84294H11.9338C12.909 1.84294 13.7355 2.53715 13.9338 3.46277L6.99169 7.69418L0.0660706 3.46277C0.264418 2.53715 1.09086 1.84294 2.06607 1.84294Z' fill='white'/%3E%3C/svg%3E%0A")
				0 100% no-repeat;
		}
	}

	& > .container {
		position: relative;
		min-height: 100%;
	}

	&__top {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		padding: 0 20px;
		min-height: 50px;
		display: flex;
		align-items: center;
		background: rgba(58, 38, 131, 0.8);
		backdrop-filter: blur(11px);
		z-index: 50;

		@include bp(xxl) {
			min-height: 80px;
		}

		.container {
			display: flex;
			align-items: center;
		}

		&-logo {
			min-width: 60px;
			max-width: 60px;
			margin-right: auto;

			@include bp(xs) {
				min-width: 74px;
				max-width: 74px;
			}

			@include bp(sm) {
				min-width: 90px;
				max-width: 90px;
			}

			@include bp(xxl) {
				min-width: 166px;
				max-width: 166px;
			}
		}

		&-menu {
			display: none;
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 0;
			text-align: center;
			& > li {
				display: inline-block;
				vertical-align: top;
				margin: 0 25px;
				& > a {
					display: block;
					padding: 10px;
					font-size: 20px;
					color: #fff;
					transition: 0.2s;
				}
				&:hover > a {
					color: #ffec44;
				}
			}

			@include bp(xxl) {
				display: block;
			}
		}

		&-phone {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			line-height: 1;
			color: #fff;
			justify-self: center;
			text-decoration: none;

			@include bp(xxl) {
				transform: none;
				font-size: 20px;
				line-height: 1;
				padding: 12px 10px 13px;
				text-align: center;
				min-width: 202px;
				background: linear-gradient(98.48deg, #ade915 7.95%, #ffec44 77.83%);
				box-shadow: 0px 4px 16px rgba(255, 236, 68, 0.46);
				border-radius: 30px;
				color: #000;
				position: static;
				margin-left: auto;
			}
		}

		&-burger {
			cursor: pointer;
			margin-left: auto;
			height: 20px;
			width: 20px;
			background: url("data:image/svg+xml,%3Csvg width='20' height='9' viewBox='0 0 20 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1C0 0.447715 0.447715 0 1 0H19C19.5523 0 20 0.447715 20 1C20 1.55228 19.5523 2 19 2H1C0.447716 2 0 1.55228 0 1Z' fill='white'/%3E%3Cpath d='M3 8C3 7.44772 3.44772 7 4 7H19C19.5523 7 20 7.44772 20 8C20 8.55228 19.5523 9 19 9H4C3.44772 9 3 8.55228 3 8Z' fill='white'/%3E%3C/svg%3E%0A")
				center no-repeat;

			@include bp(xxl) {
				display: none;
			}
		}
	}

	&__headings {
		padding: 0 10px 39px;
		text-align: center;
		color: #fff;

		@include bp(xs) {
			padding-left: 30px;
			padding-right: 30px;
		}

		@include bp(xxl) {
			position: absolute;
			left: 0;
			top: 215px;
			width: 750px;
			text-align: left;
			padding: 0;
		}

		&-top {
			margin: 0 0 16px;
			font-size: 35px;
			line-height: 0.95;

			@include bp(xxl) {
				font-size: 80px;
				margin-bottom: 30px;
			}
		}

		&-bottom {
			font-size: 20px;
			line-height: 1;
			font-weight: 250;
			padding: 0 30px;

			@include bp(xxl) {
				padding: 0 100px 0 0;
				font-size: 45px;
				line-height: 0.8;
			}
		}
	}

	&__popup-btn {
		text-align: center;
		margin-bottom: 41px;

		@include bp(xxl) {
			position: absolute;
			bottom: 251px;
			left: 0;
		}

		.btn {
			min-width: 186px;

			@include bp(xxl) {
				min-width: 203px;
			}
		}
	}

	&__scroll-btn {
		width: 40px;
		height: 40px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		font-size: 0;
		background: #fff url(../images/dist/arrow.svg) 50% 50% / 13px no-repeat;

		@include bp(xxl) {
			position: absolute;
			width: 61px;
			height: 61px;
			background-size: 23px;
			left: 0;
			bottom: 130px;
		}
	}
}
