$accent: #6441c0;
$fontsize: 16px;
$textcolor: #000;
$lineheight: 1.65;
$userfont: JournalSansNew, sans-serif;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-display: swap;
		src: url($furl) format("woff2");
	}
}

@include font("JournalSansNew", normal, 250, "../fonts/JournalSansNew-Display.woff2");
@include font("JournalSansNew", normal, 400, "../fonts/JournalSansNew.woff2");
@include font("JournalSansNew", normal, 700, "../fonts/JournalSansNew-Bold.woff2");

@mixin bp($breakpoint) {
	@if $breakpoint == xs {
		@media all and (min-width: 375px) {
			@content;
		}
	} @else if $breakpoint == sm {
		@media all and (min-width: 576px) {
			@content;
		}
	} @else if $breakpoint == md {
		@media all and (min-width: 768px) {
			@content;
		}
	} @else if $breakpoint == xl {
		@media all and (min-width: 1024px) {
			@content;
		}
	} @else if $breakpoint == xxl {
		@media all and (min-width: 1260px) {
			@content;
		}
	} @else if $breakpoint == xxxl {
		@media all and (min-width: 1400px) {
			@content;
		}
	} @else if $breakpoint == hd {
		@media all and (min-width: 1600px) {
			@content;
		}
	} @else if $breakpoint == fullhd {
		@media all and (min-width: 1900px) {
			@content;
		}
	}
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input.wedoit-input,
textarea.wedoit-textarea {
	outline: none;
	border: none;
	background: #fff;
	font-size: 14px;
	color: #000;
	border-radius: 30px;
	text-align: center;
	font-family: $userfont;
	width: 100%;
	padding: 11px 10px;

	@include bp(xxl) {
		font-size: 16px;
		padding-top: 17px;
		padding-bottom: 18px;
	}

	&::placeholder {
		color: #000;
	}
}

textarea.wedoit-textarea {
	height: 120px;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	background: #fefefe;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.wedoit-wrapper {
	scroll-behavior: smooth;
	overflow: hidden;
}
